:root{
    --blanco: #f2eded;
	--crudo: #FAFEFCff;
	--salmon-claro: #E66468ff;
	--salmon: #f03838;
	--azul-principal: #2b3450;
	--azul-secundario: #8094b0;
	--celeste: #7f9caf;
	--gris: #979692;
	--gris-oscuro: rgb(51, 51, 51);
}

body {
	font-family: "Roboto", sans-serif;
	scroll-behavior: smooth;
}

/* Clases generales */
.bg-blanco {
	background-color: var(--blanco);
}

.bg-oscuro {
	background-color: var(--azul-principal);
	color: var(--crudo);
}

/* Header */

a img {
	border: 0.15rem solid var(--crudo);
	border-radius: 50%;
}

a h1 {
	font-size: 1.5rem;
	color: var(--crudo);
	margin: 0 0.5rem;
	font-family: "Kanit", sans-serif;
	font-weight: 400;
}

nav div {
	padding-left: 2rem;
	padding-right: 2rem;
}

li {
	padding: 0 0.5rem;
}

.nav-link {
	color: var(--crudo) !important;
	font-size: 1.25rem !important;
	transition: all 0.5s !important;
	font-family: "Roboto", sans-serif !important;
}

.nav-link:hover {
	color: var(--salmon-claro) !important;
	/* font-weight: 600 !important; */
}

/* Main */
.banner {
	height: 90vh;
	background-image: url("../assets/images/flexiones-horizontal.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	object-fit: cover;
	z-index: -1;
}

.banner p {
	padding: 5rem;
	font-size: 2.5rem;
	color: var(--crudo);
	text-align: center;
	z-index: 1;
	font-family: "Roboto Condensed", sans-serif;
}

.oscurecer {
	position: absolute;
	height: 90vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.589);
	z-index: 0;
}

.frases {
	transition: opacity 1s ease;
}

/* Profesores */
section {
	min-height: 100vh;
	font-family: "Roboto", sans-serif;
}

article img {
	height: 20rem;
	border-radius: 50%;
}

.row h2 {
	display: inline-block;
	padding-bottom: 0.2rem;
	border-bottom: 0.3rem solid var(--azul-principal)
}

.subtexto {
	color: var(--gris);
}

/* Planes */
#planes .row h2 {
	display: inline-block;
	padding-bottom: 0.2rem;
	border-bottom: 0.3rem solid var(--blanco)
}

#no-disponible {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #f038385b;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 2rem;
	color: rgba(0, 0, 0, 0.692);
}

#no-disponible p {
		
	-webkit-transform: rotate(45deg); 
	-moz-transform: rotate(45deg);
}

.card img{
	height: 12rem;
}

.card-text {
	height: 8rem;
}

/* Formulario de contacto */
#contacto {
	min-height: 100vh;
}

#texto-rojo {
	color: rgb(175, 0, 0);
	font-weight: 500;
}

form {
	padding: 0 20%;
}

label {
	padding: 0.5rem 0;
}

/* Footer */
footer {
	background-color: var(--gris-oscuro);
}

.logo-social{
	height: 3rem;
	border: none;
}

#desarrollador {
	font-size: 0.8rem;
	color: var(--blanco);
}

#desarrollador a {
	text-decoration: none;
	color: var(--blanco);
	font-weight: 600;
}

/* Boton whatsapp */
.whatsapp {
	position: fixed;
	height: 4rem;
	bottom: 2rem;
	right: 2rem;
	z-index: 5;
}

.whatsapp img {
	height: 100%;
	border: none;
}

@media (width < 768px) {
	/* Main */
	.banner {
		background-image: url("../assets/images/pesa-vertical-oscuro.jpg");
		height: 60vh;
	}

	.oscurecer {
		height: 60vh;
	}

	.banner p {
		padding: 2rem;
		font-size: 1.5rem;
	}

	/* Profesores */
	article img {
		height: 20rem;

	}
	
	form {
		padding: 0%;
	}

	/* Boton whatsapp */
	.whatsapp {
		bottom: 1rem;
		right: 2rem;
	}
}